<launch>
    <!-- PointCloud to LaserScan Node -->
    <!-- Converts 3D Velodyne data to 2D LaserScan -->
    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">
        <remap from="cloud_in" to="/cart/center_laser/scan"/>
        <remap from="scan" to="/converted_scan"/>
        
        <param name="target_frame" value="velodyne"/>
        <param name="transform_tolerance" value="0.01"/>
        <param name="min_height" value="-1.2"/>
        <param name="max_height" value="1.0"/>
        <param name="angle_min" value="-3.14159"/>
        <param name="angle_max" value="3.14159"/>
        <param name="angle_increment" value="0.0087"/> <!-- ~0.5 degree -->
        <param name="scan_time" value="0.1"/>
        <param name="range_min" value="0.45"/>
        <param name="range_max" value="100.0"/>
        <param name="use_inf" value="true"/>
        <param name="concurrency_level" value="1"/>
    </node>

    <!-- Engel Tespiti Node -->
    <node pkg="cart_sim" type="engel_node.py" name="engel_tespiti" output="screen" />
</launch>
