<launch>
  <arg name="pcd_path" default="$(find talos_obstacle_detector)/maps/clean.pcd"/>
  <arg name="map_topic" default="/map_cloud"/>
  <arg name="map_frame" default="map"/>

  <node pkg="talos_obstacle_detector" type="map_publisher_node"
        name="map_publisher" output="screen">
    <param name="pcd_path" value="$(arg pcd_path)"/>
    <param name="frame_id" value="$(arg map_frame)"/>
    <param name="topic"    value="$(arg map_topic)"/>
  </node>

  <node pkg="talos_obstacle_detector" type="obstacle_detector_node"
        name="obstacle_detector" output="screen">
    <rosparam command="load" file="$(find talos_obstacle_detector)/config/params.yaml"/>
    <param name="map_topic" value="$(arg map_topic)"/>
  </node>
</launch>
